<!-- <div style="text-align:center">
    <button (click)="myMethod()"> press</button>
  <p>{{myProp}}</p>


  <ul>
    <li *ngFor="let arr of myArr">
      <strong>{{arr.title}}</strong>
      <p>{{ arr.desc}}</p>
    </li>
  </ul>  <router-outlet></router-outlet> -->

<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row columns">
      <div id="iface">
  
        <input type="text" id="message" placeholder="Your chat message here.." [(ngModel)]="msg" #message>
        <input type="submit" class="submit" value="Send now" (click)="send(message.value)">
  
        <div class="details-container" *ngFor="let item of items | async">
          <div class="row">
            <div class="medium-9 columns">
                <p>{{  item.message }}--{{item.key}}</p>
            </div>
            <div class="medium-3 columns">
                 <button (click)="delete(item.key)" >delete</button> 
                <button (click)="deleteItem(item.key)">Delete</button>
              <button>edit</button>
            </div>
          </div>
        </div>
  

        <!-- <div class="details-container">
          <div class="row">
            <div class="medium-9 columns">
              <input type="text" value="">
            </div>
            <div class="medium-3 columns">
              <button>delete</button>
              <button>edit</button>
            </div>
          </div>
        </div> -->
  

      </div>
    </div>
  </div>

